
// ========= Desktop =========

.aboutBack {
  background-image: url("../img/bg/about.jpg");
  // position: absolute;
  background-size: cover;
  width: 100%;
  height: 60vh;
  top: 0;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: grey;
}

.aboutContainer{

  //layout

  display: flex;
  flex-direction: column;


  padding: 4vw 15vw 1vw 15vw;

  //font
  font-size: 2.1em;
  font-family: NextExit;
  line-height: 120%;
  color:$greyTxt;

  h2{
    font-size: 1.4em;
    margin: 5vh 0 5vh 0;
  }

  span{
    //font
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.05vw;
    ////layout
    //float: right;
    //padding: 0;
    //margin: 0 0 0 0.5vw;
    &.values{
      font-size: 1.2em;
    }
  }

  p{
    margin: 0 0 3vw 0;
  }
}

.bottomContainer{
  padding-bottom: 3vh;
}

hr{
  margin: 0;
  padding: 0;
}

//.staffContainer{
//  display: flex;
//  padding: 4em;
//  article{
//    display: flex;
//    flex-direction: column;
//    font-size: 2em;
//
//    padding-right: 2em;
//  }
//}

// ========= Tablet =========
@media (max-width: 950px) {
  .aboutContainer{
  padding: 3vw 13vw 1vw 13vw;
    font-size: 3.3vw;

    h2{
      font-size: 5.3vw;
    }
  }

  //.staffContainer{
  //  flex-direction: column;
  //  .staffImg{
  //    align-self: center;
  //  }
  //  article{
  //    text-align: center;
  //    padding-right: 0;
  //  }
  //}
}

// ========= Mobile =========

@media (max-width: 500px) {

  .projBack{
    height: 65vw !important;
  }

  .aboutContainer{
    font-size: 5vw;

    h2{
      font-weight: bold;
    }
    p{
      margin: 0 0 5vw 0;
    }
  }
}