

//.backContact {
//  background-image: url("../img/proj/header2.jpg");
//  // position: absolute;
//  background-size: cover;
//  //width: 100vw;
//  height: 100vh;
//  //top: 0;
//  //z-index: ;
//  background-position: center;
//  background-repeat: no-repeat;
//  display: flex;
//  //align-items: center;
//  justify-content: center;
//  flex-direction: column;
//  align-items: flex-end;
//  direction: rtl;
//
//
//}
.backContact {
  background: url(../img/proj/header2.jpg) no-repeat center center fixed;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  height: 1000vh;
  z-index: -1;
 }

.contactCon {
  margin-top: 220px;
  margin-bottom: 3vw;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;

  .formCon {
    margin-bottom: 3vw;
    .alconDec {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: white;

      //a{
      //  text-decoration: none;
      //  color:inherit;
      //  font-style: nextExit;
      //}
      div {
        width: 45vw;
        padding-top: 3vw;
        padding-bottom: 3vw;

        @media (max-width: 728px) {
          width: 100%;
          padding: 20px
        }

        h1 {
          font-size: 4em;
          font-family: Aduma;
        }
        p{
          font-size: 2.2em;
          font-family: NextExit;
          line-height: 150%;
          display: flex;
          flex-wrap: nowrap;
          margin: 0;
        }
        //h4 {
        //  font-size: 2.2em;
        //  font-family: NextExit;
        //  line-height: 150%;
        //  display: flex;
        //  flex-wrap: nowrap;
        //}
      }

      .fields {
        margin-bottom: 3vw;
      }
    }
    .fields {
      .flex-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;

        @media (max-width: 728px) {
          flex-direction: column;
        }

        .form-inputs {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 22vw;
          height: 25vh;
          padding-left: 2em;

          @media (max-width: 728px) {
            margin-right: 10px;
            width: auto;
          }

          input {
            //width: 22vw;
            height: 1.5em;
            border: 3px solid $redBorder;
            background-color: transparent;
            outline: none;
            font-family: NextExit;
            font-weight: lighter;
            font-size: 1.5em;
            line-height: 0em;
            padding: 5px;

            &:focus {
              border: 3px solid white;
            }

          }
          ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: white;
          }
          ::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
          }
          :-ms-input-placeholder {
            /* IE 10+ */
            color: white;
          }
          :-moz-placeholder {
            /* Firefox 18- */
            color: white;
          }

        }
        .description-field {
          textarea {
            width: 22vw;
            height: 25vh;
            border: 3px solid $redBorder;
            background-color: transparent;
            outline: none;
            font-family: NextExit;
            font-weight: lighter;
            font-size: 1.5em;
            line-height: 1em;
            padding: 5px;

            @media (max-width: 728px) {
              margin: 10px;
              width: auto;
            }

            &:focus {
              border: 3px solid white;
            }
          }
          ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: white;
          }
          ::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
          }
          :-ms-input-placeholder {
            /* IE 10+ */
            color: white;
          }
          :-moz-placeholder {
            /* Firefox 18- */
            color: white;
          }

        }
      }
      .sendButtonCon {
        display: flex;
        justify-content: flex-end;
        padding-top: 3px;
        padding-bottom: 3px;
        .tri {
          width: 2em;
          //height: 100%;
          background-color: $redBorder;
          -ms-transform: skewX(-35deg); /* IE 9 */
          -webkit-transform: skewX(-35deg); /* Safari */
          transform: skewX(-35deg); /* Standard syntax */
          position: relative;
          z-index: 0;
          right: 25px

        }
        input {
          position: relative;
          z-index: 2;
          left: 25px;
          background-color: $redBorder;
          border: none;
          color: white;
          //width: 2em;
          height: 23px;
          font-family: NextExit;
          font-weight: lighter;
          font-size: 1.5em;
          line-height: 0em;
        }
      }
    }
  }
}

//div#myDiv {
//  -ms-transform: skew(20deg); /* IE 9 */
//  -webkit-transform: skew(20deg); /* Safari */
//  transform: skew(-45deg); /* Standard syntax */
//}





