footer {
  display: flex;
  flex-flow: row;
  //position: absolute;
  padding-top: 2.5vw;
  padding-bottom: 1vw;

  background-color: #51585E;
  color: white;
  > div {

    padding-right: 3vw;
    padding-left: 3vw;
    &.desc {
      border-left: 1px solid white;
      min-width: 200px;
      font-size: 1.5em;
      font-family: NextExit;
    }

  }
  .companyName {
    font-size: 4em;
    font-family: Aduma;
    line-height: 90%;
    padding-right: 5vw;

  }
  .address {
    min-width: 320px;
    font-size: 1.5em;
    font-family: NextExit;

    div {
      display: flex;
      .iconsContainer {
        display: flex;
        //position: absolute;
        align-items: center;

        width: 100%;
        //height: 4em;
        a {
          height: 1.2em;
          width: 1.2em;
          padding: 2px;
          background-size: cover;
          //position: absolute;

          &.google {
            background-image: url("../img/home/G+.png");
          }
          &.linkedIn {
            background-image: url("../img/home/in.png");

          }
          &.facebook {
            background-image: url("../img/home/F.png");

          }
        }

      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

}

@media (max-width: 1000px) {
  footer {
    flex-wrap: wrap;
    > div {
      width: 100%;
      padding: 5vw;

      &.companyName {
        text-align: center;
        border-bottom: 1px solid white;
      }
      &.desc {
        border-left: none;
        border-bottom: 1px solid white;

      }
      &.address {
        text-align: center;
        border-left: none;
        div{
          .iconsContainer {
            justify-content: center;
          }
        }
      }

    }
  }
}
