.video-container {
  width: 100%;
  position: relative;
  //$height: percentage(nth(16 9, 2) / nth(16 9, 1));
  //height: 0;
  //padding-bottom: $height;
  @media (max-width: 320px) {
    margin-top: 53px; // nav-bar
  }

  video {
    width: 100%;
    //height: (16 / 9) * 100%;
    //height: percentage(nth(16 9, 2) / nth(16 9, 1));
    $height: percentage(nth(16 9, 2) / nth(16 9, 1));
    height: $height;
  }

  .video-controls {
    position: absolute;
    top: 40%;
    left: 50%;

    @media (max-width: 320px) {
      left: 40%;
      top: 25%;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

iframe.video {
  width: 100vw;
  height: 100vh;
  //position: absolute;
  top: 0;
  z-index: 0;
}

.info {
  //margin-top: 74vh;
  //margin-bottom: 0;
  width: 100vw;
  //height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  position: relative;
  .homeName {
    padding: 0.6em;
    padding-left: 7vw;
    padding-right: 3vw;
    font-size: 3.5em;
    font-family: Aduma;
    line-height: 50%;
    .companyName {
      display: flex;
      flex-flow: row nowrap;
    }
    b{
      line-height: 80%;
    }
  }
  .bullets {
    font-family: NextExit;
    font-size: 17px;
    flex-grow: 3.5;
    margin-top: 20px;
    ul {
      list-style-type: square;
    }
    li {
      color: #D62439;
      font-size: 2.5em;
      line-height: 60%;
      span {
        color: black;
        font-size: 0.6em;
        position: relative;
        top: -5px;
      }
    }
  }
}

.statsCon {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .stats {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #D62439;
    padding: 5em;
    padding-top: 0;
    font-family: NextExit;
    line-height: 300%;
    article {
      text-align: center;
      font-weight: 800;

      .lp {
        font-size: 5em;
        line-height: 85%;
      }
      .sp{
        font-size: 1.8em;

      }
    }
    .separator {
      font-size: 15em;
      font-weight: -100;
      padding-bottom: 20px;


    }
  }
}

@media (max-width: 1000px) {
  .info {
    flex-direction: column;
    align-items: center;
    .homeName {
      text-align: center;
      font-size: 10vw;
    }
  }
  .statsCon{.stats {
    flex-direction: column;
    padding: 2em;
    //padding-right: 0.75em;
    article {
      border-bottom: 1px #D62439 solid;
    }
    .separator {
      display: none;
    }
  }}

}

.filler {
  .swiper {
    .swiper-container {
      height: auto;

      .swiper-button-prev {
        transform: rotate(180deg);
        background-image: $swiperPrevBtnDark;

        @media (max-width: 435px) {
          transform: rotate(0deg);
          background-image: $swiperPrevBtnBright;
          background-color: rgba(0, 0, 0, 0.4);
          height: 80px;
          width: 50px;
        }
      }

      .swiper-button-next {
        transform: rotate(180deg);
        left: 25px;
        background-image: $swiperNextBtnDark;

        @media (max-width: 435px) {
          background-image: $swiperNextBtnBright;
          background-color: rgba(0, 0, 0, 0.4);
          height: 80px;
          width: 50px;
        }
      }

      .swiper-slide {
        img {
          width: 100%;
        }
      }
    }
  }
}

.videoBg{
  width: 100vw;
  height: 75vh;
  //position: absolute;
  top: 0;
  z-index: 0;
  //background-color: #000066;
  background-image: url("../img/home/video2.jpg");
  background-size: 100% 100%;
}
