.techsBack {
  background-image: url("../img/bg/techs.jpg");
  // position: absolute;
  background-size: cover;
  width: 100%;
  height: 60vh;
  top: 0;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: grey;
}