.aboutContainer {
  display: flex;
  direction: rtl;
  flex-direction: column;
  padding: 10vw;
  font-size: 2.5vw;
  font-family: NextExit;
  line-height: 120%; }
  .aboutContainer.bottom {
    padding-top: 0; }
  .aboutContainer .values {
    font-size: 3.6vw; }

.staffContainer {
  display: flex;
  padding: 4em; }
  .staffContainer article {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    padding-right: 2em; }

@media (max-width: 950px) {
  .aboutContainer {
    font-size: 4vw; }
    .aboutContainer .values {
      font-size: 4.5vw; }
  .staffContainer {
    flex-direction: column; }
    .staffContainer .staffImg {
      align-self: center; }
    .staffContainer article {
      text-align: center;
      padding-right: 0; } }

@media (max-width: 500px) {
  .aboutContainer {
    font-size: 6vw; }
    .aboutContainer .values {
      font-size: 8vw; } }
