<iframe width="100%" height="auto"
        src="https://www.youtube.com/embed/9gM2uf8lLuw?modestbranding=1&autohide=1&showinfo=0&autoplay=1"
        frameborder="0"
        allowfullscreen class="video" ng-if="vm.userPlay"></iframe>

<div class="videoBg" ng-if="!vm.userPlay" ng-click="vm.userPlayed()"></div>
<!--<video-container></video-container>-->

<div class="info">
    <div class="homeName">
        <div class="companyName">
            <div> אלומיניום</div>
            <div>&nbsp</div>
            <div>קונסטרקשיין</div>
        </div>
        <br/>

        <div><b>מכל הסיבות </b></div>
    </div>
    <div class="bullets">
        <ul>

            <li><span>	קירות המסך שלנו מתוכננים, מיוצרים ומותקנים עבורכם באמצעות הטכנולוגיות המתקדמות בעולם</span>
            </li>
            <li><span>	אנחנו אתכם משלב תכנון הבניין, דרך הביצוע ועד לשלב התחזוקה</span></li>
            <li><span>	אנחנו מתכננים מייצרים ומתקינים קירות מסך מעל 30 שנה בהתאמה אישית</span></li>
            <li><span>	אנחנו לא מתפשרים על איכות המוצר, הגימור והשירות </span></li>
            <li><span>	המוצרים שלנו עומדים בתקנים ישראלים, אירופאים ואמריקאים</span></li>
            <li><span>	אנחנו מאמינים במוצרים שלנו ולכן אתם מקבלים אחריות לכל החיים</span></li>

        </ul>
    </div>

</div>


    <ks-swiper-container initial-slide="1" loop="true" show-nav-buttons="true" slides-per-view="1" space-between="0"
                         pagination-clickable="true">
        <ks-swiper-slide class="swiper-slide" ng-repeat="projs in vm.projs">
            <section class="projectsPage">
                <a ng-href="#!/project/{{proj.id}}" ng-repeat="proj in projs"
                   ng-style="{'background-image':'url(img/proj/'+proj.id+'/1.jpg)'}">

                    <div class="projectName">{{proj.name}}</div>


                </a>

                <!--<div  class="projectThumbs">-->


                <!--<a ng-repeat="proj in vm.projs" ng-href="#!/project/{{proj.id}}"  class="projectThumb" ng-style="{'background-image':'url(img/proj/'+proj.id+'/1.jpg)'}" >-->

                <!--<div class="projectName">{{proj.name}}</div>-->
                <!--</a>-->

                <!--</div>-->

                <!--&lt;!&ndash;<pre hidden>&ndash;&gt;-->
                <!--&lt;!&ndash;{{vm.projs | json}}&ndash;&gt;-->
                <!--&lt;!&ndash;</pre>&ndash;&gt;-->

            </section>
        </ks-swiper-slide>
    </ks-swiper-container>


<div class="statsCon">
    <section class="stats">
        <article>
            <p class="sp">&nbsp;</p>
            <p class="lp">1991</p>
            <p class="sp">שנת הקמה</p>
        </article>
        <div class="separator">/</div>
        <article>
            <p class="sp">מעל</p>
            <p class="lp">1,000,000</p>
            <p class="sp">קירות מסך</p>
        </article>
        <div class="separator">/</div>
        <article>
            <p class="sp">מעל</p>
            <p class="lp">600</p>
            <p class="sp">פרוייקטים<p>
        </article>
        <div class="separator">/</div>
        <article>
            <p class="sp">&nbsp;</p>
            <p class="lp">100%</p>
            <p class="sp">הצלחה</p>
        </article>

    </section>
</div>