<iframe width="100%" height="auto" src="https://www.youtube.com/embed/WaUgIIySmL4?feature=player_embedded" frameborder="0"
        allowfullscreen class="video"></iframe>

<!--<video-container></video-container>-->

<div class="info">
    <div class="homeName">
        <div class="companyName">
            <div> אלומיניום</div>
            <div>&nbsp</div>
            <div>קונסטרקשיין</div>
        </div>
        <br/>
        <div><b>מכל הסיבות </b></div>
    </div>
    <div class="bullets">
        <ul>

            <li><span>	קירות המסך שלנו מתוכננים, מיוצרים ומותקנים עבורכם באמצעות הטכנולוגיות המתקדמות בעולם</span>
            </li>
            <li><span>	אנחנו אתכם משלב תכנון הבניין, דרך הביצוע ועד לשלב התחזוקה</span></li>
            <li><span>	אנחנו מתכננים מייצרים ומתקינים קירות מסך מעל 30 שנה בהתאמה אישית</span></li>
            <li><span>	אנחנו לא מתפשרים על איכות המוצר, הגימור והשירות </span></li>
            <li><span>	המוצרים שלנו עומדים בתקנים ישראלים, אירופאים ואמריקאים</span></li>
            <li><span>	אנחנו מאמינים במוצרים שלנו ולכן אתם מקבלים אחריות לכל החיים</span></li>

        </ul>
    </div>

</div>

<div class="filler">

    <div class="swiper">
        <ks-swiper-container initial-slide="1" loop="true" show-nav-buttons="true" slides-per-view="1" space-between="0" pagination-clickable="true">
                <ks-swiper-slide class="swiper-slide" ng-repeat="projs in vm.projs">
                    <section class="projectsPage">
                            <a ng-href="#!/project/{{proj.id}}" ng-repeat="proj in projs" ng-style="{'background-image':'url(img/proj/'+proj.id+'/1.jpg)'}">

                                <div class="projectName">{{proj.name}}</div>


                            </a>

                            <!--<div  class="projectThumbs">-->


                            <!--<a ng-repeat="proj in vm.projs" ng-href="#!/project/{{proj.id}}"  class="projectThumb" ng-style="{'background-image':'url(img/proj/'+proj.id+'/1.jpg)'}" >-->

                            <!--<div class="projectName">{{proj.name}}</div>-->
                            <!--</a>-->

                            <!--</div>-->

                            <!--&lt;!&ndash;<pre hidden>&ndash;&gt;-->
                            <!--&lt;!&ndash;{{vm.projs | json}}&ndash;&gt;-->
                            <!--&lt;!&ndash;</pre>&ndash;&gt;-->

                        </section>
                </ks-swiper-slide>
            </ks-swiper-container>
    </div>
    
    


</div>

<div class="statsCon">
<section class="stats">
    <article>
        <div>1987</div>
        <div>שנת הקמה</div>
    </article>
    <div class="separator">/</div>
    <article>
        <div>58</div>
        <div>קירות מסך</div>
    </article>
    <div class="separator">/</div>
    <article>
        <div>300</div>
        <div>עובדים</div>
    </article>
    <div class="separator">/</div>
    <article>
        <div>100%</div>
        <div>הצלחה</div>
    </article>

</section>
</div>