

<div class="swiper">
    <ks-swiper-container initial-slide="0" loop="true" show-nav-buttons="true" slides-per-view="1" space-between="0" pagination-clickable="true">
    <ks-swiper-slide class="swiper-slide" ng-repeat="img in vm.techimgs">
        <div ng-if="!img.length" class="wrap-player">
            <iframe  width="100%" height="100%" ng-src="{{img}}"  frameborder="0" allowfullscreen></iframe>
        </div>
        <img ng-if="img.length" ng-src="img/tech/{{vm.tech.name}}/{{img}}">

    </ks-swiper-slide>
    </ks-swiper-container>
</div>
<div class="proj-details">
    <h1>{{vm.tech.name}}</h1>
    <p>
        <a href="pdfs/{{vm.tech.pdf}}" download>להורדת קטלוג</a>
    </p>
</div>

<!--<techs-list techs="vm.techs" is-preview="true"></techs-list>-->
<alcon-swiper>
    <ks-swiper-container initial-slide="1" loop="true" show-nav-buttons="true" slides-per-view="1" space-between="0" pagination-clickable="true">
        <ks-swiper-slide class="swiper-slide" ng-repeat="techs in vm.techs">
            <section class="projectsPage">
                <a ng-href="#!/tech/{{tech.name}}" ng-repeat="tech in techs" ng-style="{'background-image':'url(img/tech/'+tech.name+'/preview.jpg)'}">
                    <div class="projectName">{{tech.name}}</div>
                </a>
            </section>
        </ks-swiper-slide>
    </ks-swiper-container>
</alcon-swiper>






