<div class="nav-wrapper">
    <div class="navConBoot">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=#!/home" data-toggle="collapse" data-target=".navbar-collapse" >"><img src="img/home/logo3.jpg" style="width: 73px; left:0; top:0; position: absolute "/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#!/home">דף הבית</a></li>-->
                        <li><a href="#!/about" data-toggle="collapse" data-target=".navbar-collapse">{{'ABOUT0' | translate}}</a></li>
                        <li><a href="#!/techs" data-toggle="collapse" data-target=".navbar-collapse">{{'TECHNOLOGY' | translate}}</a></li>
                        <li><a href="#!/projects" data-toggle="collapse" data-target=".navbar-collapse">{{'PROJECTS' | translate}}</a></li>
                        <li><a href="#!/contact" data-toggle="collapse" data-target=".navbar-collapse">{{'CONTACT' | translate}}</a></li>
                        <li ng-click="changeLanguage()"><a  data-toggle="collapse" data-target=".navbar-collapse"><p>א&nbsp;&nbsp;&nbsp;<span>A</span></p></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>

    <div class="menu-wrapper">
        <div class="menu">
            <ul>
                <!--<li><a href="#!/home">דף הבית</a></li>-->
                <li ng-class="{active: isActive('about')}"><a href="#!/about">{{'ABOUT0' | translate}}</a></li>
                <li ng-class="{active: isActive('tech')}"><a href="#!/techs">{{'TECHNOLOGY' | translate}}</a></li>
                <li ng-class="{active: isActive('project')}"><a href="#!/projects">{{'PROJECTS' | translate}}</a></li>
                <li ng-class="{active: isActive('contact')}"><a href="#!/contact">{{'CONTACT' | translate}}</a></li>
                <li ng-click="changeLanguage()"><a><p>א&nbsp;&nbsp;&nbsp;<span>A</span></p></a></li>
            </ul>
        </div>

        <div class="menu-corner">
        </div>
    </div>
    <div class="logo-wrapper">
        <a href=#!/home" class="logo">
            <img src="img/home/logo3.jpg"/>
        </a>
        <div class="logo-corner"></div>
    </div>

</div>
